.pay {
    &__container {
        border: 1px solid #3ff55d;
        border-radius: 10px;
        padding: 0 20px;

        @media (max-width: 1023px) {
            border: none;
        }
    }

    .bl-pay {
        border-right: 1px solid #3ff55d;

        @media (max-width: 1023px) {
            border-right: none;
        }
    }

    .form {
        padding: 20px 0;
    }

    .form__title {
        font-size: 24px;
        font-weight: 600;
    }

    .form-group {
        input {
            width: 100%;
            outline: none;
            border: 1px solid #ccc;
            padding: 8px 12px;
            border-radius: 8px;
            transition: all 0.3s ease;

            &:focus {
                border-color: $color-primary;
            }
        }
    }

    .form-group + .form-group {
        padding-top: 12px;
    }

    &__right {
        padding: 20px 0;
        h5 {
            font-size: 24px;
            font-weight: 600;
        }

        p {
            font-size: 18px;
            line-height: 2.4;
            font-weight: 500;
            margin-top: 10px;
        }

        span {
            color: #fa920b;
            font-size: 24px;
            margin-top: 12px;
            display: block;
        }

        .pay__desc {
            text-align: right;
            font-size: 14px;
            margin-right: 40px;
        }
    }

    // Thank
    &__container.thank {
        padding: 40px;
        background: #e4f1c9;
        border: 1px solid #a5bd71;
    }

    &__thank {
        margin-top: 20px;
        font-size: 16px;
        line-height: 24px;
        padding-right: 10%;
    }

    .btn-submit {
        text-decoration: none;
        color: #fff;
        background-color: #ff9933;
        padding: 12px 40px;
        display: inline-block;
        font-size: 24px;
        border-radius: 10px;
        border: none;
    }
}
